.wrapper-score {
  background-color: blue;
  height: 100vh;
}
.score-top{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.score {
  color: white;
}

.score h1 {
  font-weight: bold;
  font-size: 50px;
}

.score p {
  font-weight: light;
  font-size: 25px;
}
