<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="start">
          <% @start_time = Time.now %>
          <h1>Welcome to the longest word-game!</h1>
          <p>Here is your grid:</p>
          <table>
            <tr>
              <% @grid.each do |letter| %>
              <td class="letters" ><%= letter %></td>
              <% end %>
            </tr>
          </table>
        </div>
        <div>
          <h1>What is your best shot Sir?</h1>
          <div class="row">
            <div class="col-xs-6 form-inline ">
              <form action="/score">
                <input class="form-control " type="text"  name="query">
                <input class="hidden" type="text"  name="date" value="<%= @start_time %>">
                <input class="hidden" type="text"  name="grid" value="<%= @grid.join(" ") %>">

                <input class="btn btn-default" type="submit" value="Enter">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
