<div class="wrapper-score">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 score-top">
        <div class="score">
          <h1>Your score</h1>
          <p><%= p @result[:message] %></p>
          <p>You achieved it in <%= p @result[:time] %></p>
          <p>Your score is <%= p @result[:score] %></p>
        </div>
      </div>
    </div>
  </div>
</div>




